
:root {
  --main_text_color: #444444;
  --sec_text_color: #aaaaaa;
  --light_color: #eeeeee;
  --bg_color: white;
  --hl_color: #1053B1;
  --main_font_size: 20px;
  --sec_font_size: 16px;
}

.content {
  background-color: var(--bg_color);
}

header {
  padding: 50px 10px 0 10px;
}

article {
  padding: 25px 10px 0 10px;
}

footer {
  padding: 50px 10px 25px 10px;
}

@font-face {
  font-family: PT Sans;
  src: url('/fonts/PTS55F.ttf');
}

body {
  font-family: PT Sans, Verdana, sans-serif;
  font-size: var(--main_font_size);
}

p {
  color: var(--main_text_color);
}

a {
  text-decoration: underline;
  color: var(--main_text_color);
}

a:visited, a:focus {
  color: var(--main_text_color);
}

a#oracle:hover {
  color: white;
  background-color: red;
}

a#strava:hover {
  color: white;
  background-color: #FC4C02;
}

a:hover {
  color: var(--bg_color);
  text-decoration: none;
  background-color: var(--main_text_color);
}

article h2 {
  margin: 25px 0 0 0;
  padding: 0;
  font-weight: bold;
  font-size: 26px;
}
article h3 {
  font-size: 22px;
  font-weight: bold;
  padding: 0;
  margin: 20px 0 0 0;
}
article p {
  text-align: left;
  padding: 0;
  margin: 5px 0 20px 0;
}

.only-print {
  display: none;
}

header h1 {
  margin: 0;
  font-size: 56px;
  font-weight: bold;
}
header h1 a, header h1 a:hover {
  color: inherit;
  background-color: inherit;
  text-decoration: inherit;
}
header .subtitle {
  margin: 0;
  padding: 0;
  font-size: var(--sec_font_size);
  color: var(--sec_text_color);
}

footer p {
  font-size: 12px;
  padding: 0;
  margin: 8px;
  line-height: normal;
  text-align: center;
}
